.AboutOverlayContainer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 10;
  color: #3c3c3c;
  font-family: "Miller";
  overflow-y: scroll;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.AboutOverlayCloseButton {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border: 2px solid #fa3a38;
  z-index: 11;
  line-height: 60px;
  text-align: center;
  color: #fa3a38;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.AboutOverlayCloseButton::after {
  content: "✕";
  font-size: 24px;
  display: inline-block;
}
.AboutOverlayCloseButton:hover {
  color: white;
  background: #fa3a38;
}

.AboutOverlayBigLeft {
  font-size: 60px;
  line-height: 80px;
  max-width: 980px;
  padding: 80px;
  padding-left: 212px;
}
.AboutOverlaySmallRight {
  font-size: 28px;
  line-height: 44px;
  padding-left: 38vw;
  max-width: 670px;
}

.AboutOverlayFooterSpacer {
  display: block;
  height: 130px;
}
a {
  color: #fa3a38;
}
.AboutSponsorContainer {
  text-align: center;
}
.SponsorTitle {
  padding: 64px;
  text-transform: uppercase;
  font: 36px "Franklin Gothic";
  color: black;
  letter-spacing: 2px;
}
.SponsorBy {
  font-size: 24px;
}
.AboutSponsorContainer img {
  width: 50vw;
}
