.GraphLayoutContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.GraphLayoutLeftColumn {
  height: calc(100vh - 80px);
  padding: 80px;
  padding-bottom: 0;
  box-shadow: -3px 0px 33.6px 1.4px rgba(209, 209, 212, 0.39);
  position: relative;
  max-width: 412px;
  flex: auto;
}
.GraphLayoutRightColumn {
  padding: 0;
  flex: auto;
  height: 100vh;
}

.GraphLayoutTitle {
  text-transform: uppercase;
  font-size: 101.42px;
  line-height: 101.42px;
  border-bottom: 2px dotted #dddddd;
  margin: 0;
  display: inline-block;
}

.GraphLayoutTitleIcons {
  display: inline-block;
}

.GraphLayoutTitleIcons .Icon {
  height: 64px;
  padding: 0 12px;
}

.GraphLayoutBlurb {
  padding-top: 40px;
  font: 28px "Miller";
  line-height: 38px;
  color: #626262;
  max-width: 400px;
}
.GraphLayoutButton {
  margin-top: 64px;
}

.GraphLayoutAbout {
  text-transform: uppercase;
  font-size: 14px;
  color: #626262;
  position: absolute;
  bottom: 40px;
  left: 80px;
}
.GraphLayoutAboutLink {
  cursor: pointer;
  padding-right: 16px;
}

.GraphLayoutAboutLink:hover {
  color: #fa3a38;
}
.GraphLayoutAboutIcon {
  display: inline;
  padding: 0;
  cursor: pointer;
}

.GraphLayoutAboutIcon img {
  padding: 0 8px;
}
.GraphLayoutAboutIcon:hover img {
  filter: sepia(100%) hue-rotate(-33deg) saturate(100); /* stupid lame hack */
}

.Cap {
  text-transform: capitalize;
}

@media screen and (max-width: 900px) {
  .GraphLayoutContainer {
    flex-direction: column;
    text-align: center;
    height: 100vh;
  }

  .GraphLayoutTitle {
    font-size: 40px;
    line-height: 28px;
  }

  .GraphLayoutTitleIcons .Icon {
    height: 26px;
    padding: 0 4px;
  }

  .GraphLayoutLeftColumn {
    height: initial;
    width: 100%;
    max-width: initial;
    padding: 10px 0;
    flex: none;
  }

  .GraphLayoutRightColumn {
    width: 100vw;
    height: auto;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .GraphLayoutAbout {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    padding: 8px 16px;
  }

  .GraphLayoutBlurb {
    padding: 0;
    font-size: 24px;
    margin: auto;
    max-width: initial;
  }

  .GraphLayoutAboutIcon .Icon {
    height: 10px;
    padding: 0 8px;
  }
  .GraphLayoutButton {
    margin: 16px;
  }
}
